* {
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: lightcyan;

  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  font-size: 2em;
}
.inputbutton {
  display: flex;
  justify-content: center;
}
.inputs {
  display: flex;
  width: 120px;
}
input,
button {
  border: none;
  outline: none;
  padding: 10px 8px;
  font-size: 1.2em;
  border-radius: 5px;
}
input {
  background-color: rgb(223, 240, 202);
}
button {
  margin-top: 10px;
  color: white;
  background-color: rgb(240, 122, 27);
}
button:hover {
  box-shadow: 1px 1px 17px 2px rgba(0, 0, 0, 0.4);
}
#container {
  margin: 10px auto;
}
table {
  border-collapse: collapse;
}
td {
  padding: 15px;
  font-size: 15px;
  background-color: rgb(109, 235, 235);
  border: 2px solid black;
  text-align: center;
  vertical-align: center;
  color: rgba(48, 46, 46, 0);

  cursor: pointer;
}
tr > td:nth-child(1),
tr:nth-child(1) > td {
  background: rgb(234, 243, 152);
  cursor: default;
  border-radius: 0%;
  color: rgb(48, 46, 46);
}
